<div ng-controller="analysisPaneCtrl" id="paneContent">
    <div class="flexGrupp">

        <div id="weatherInfo">
            <h3>Väder</h3>

            <div id="weatherBox">
                <h4>MAR</h4>
                <h2>4&deg;C</h2>
            </div>
        </div>


        <div class="graph" id="weatherGraph">
            <img src="data/weather_graph.jpg">
        </div>
    </div>


    <div class="flexGrupp">
        <div class="knapp analys twoSplit active">TEMPERATUR</div>
        <div class="knapp analys twoSplit">NEDERBÖRD</div>
    </div>

    <div class="flexGrupp sectionHead">

        <h3 id="bostadTitle">Bostad</h3>


        <div id="bostadsPris">
            <p id="genomsnitt">Genomsnittlig<br>månadshyra</p>
            <h3 id="pris">6 534 kr</h3>
        </div>

    </div>


    <div id="housingGraph">
        <img src="data/house_icon.jpg">
        <img src="data/house_icon.jpg">
        <img src="data/house_icon.jpg">
        <img src="data/house_icon.jpg">
        <img src="data/house_icon.jpg">
        <hr>
    </div>

    <div class="flexGrupp">
        <div class="knapp analys twoSplit">BOSTADSRÄTT</div>
        <div class="knapp analys twoSplit active">HYRESRÄTT</div>
    </div>

    <div class="flexGrupp">
        <div class="knapp analys fiveSplit">1 rok</div>
        <div class="knapp analys fiveSplit active">2 rok</div>
        <div class="knapp analys fiveSplit">3 rok</div>
        <div class="knapp analys fiveSplit">4 rok</div>
        <div class="knapp analys fiveSplit">5+ rok</div>
    </div>

    <div>
        <h3 class="sectionHead">Intressen</h3>
    </div>

    <div id="preferences">
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
        <br>
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
        <img src="data/preference_icon.jpg">
    </div>
</div>