<div ng-controller='profPaneCtrl' id="paneContent">
    <div>
        <h3>Författare, journalister och tolkar mfl.</h3>
        <p>Planerar, gör research för och skriver artiklar, böcker, manus, manualer, beskrivningar, ledare och nyhetsinslag. Gör reportage. Redigerar artiklar, inslag och skönlitterära verk. Översätter text eller tal. Språkgranskar texter.</p>
    </div>

    <div>            
        <h4 class="sectionHead">Genomsnittlig månadslön</h4>
    </div>
    <div class="graph" id="wageGraph">
        <img src="data/wage_graph.jpg">
    </div>

    <div class="flexGrupp">
        <div class="knapp prof active">TOTAL</div>
        <div class="knapp prof inactive">KVINNOR</div>
        <div class="knapp prof inactive">MÄN</div>
    </div>
    <div class="flexGrupp">
        <div class="knapp prof active">Utbildning</div>
        <div class="knapp prof inactive">Ålder</div>
        <div class="knapp prof inactive">Sektor</div>
    </div>

    <div>
        <h4 class="sectionHead">Här är du i störst efterfrågan</h4>
        <ol>
            <li>
                <h5 class="listItem">ÖREBRO</h5>
                <div class="hint">
                    <p>Zooma till på kartan</p>
                </div>
            </li>
            <li>
                <h5 class="listItem inactive">STOCKHOLM</h5>
            </li>
            <li>
                <h5 class="listItem">HELSINGBORG</h5>
            </li>
        </ol>
    </div>
</div>